.p1{
  color:rgb(12, 9, 9);
  font-size: 50px;
  font-family:cursive;
  text-align: center;
  margin-top: 20%;
  
}
.p2{
    text-align: right;
    margin-right: 20%;
    margin-top: 1%;
    font-family:cursive;
    color: rgba(10, 15, 15, 0.981);
    font-weight: bolder;
    font-size: 20px;
}
body{
    background-image: url(image.jpg);
}
